@use './styles/theme/theme.scss';
@use './styles/overrides/button.scss';
@use './styles/overrides/form-field.scss';
@import './styles/tailwind.css';

body {
  font-family: Nunito Sans;
  background: var(--mat-sys-surface);
}